<% title "Profile" %>

<p>
  <strong>User:</strong>
  <%= @profile.user_id %>
</p>
<p>
  <strong>First Name:</strong>
  <%= @profile.first_name %>
</p>
<p>
  <strong>Last Name:</strong>
  <%= @profile.last_name %>
</p>
<p>
  <strong>Birth Date:</strong>
  <%= @profile.birth_date %>
</p>

<p>
  <%= link_to "Edit", edit_profile_path(@profile) %> |
  <%= link_to "Destroy", @profile, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", profiles_path %>
</p>
