<%= form_for @order do |f| %>

	<table>
	   	<%= render @cur_chest.line_items %>
			<tr>
				<td colspan="2">Total</td>
				<td><%= number_to_currency(@cur_chest.total_price) %></td>
			</tr>
	</table>

	<br />

	<strong><h3>Select Payment Method</h3></strong>

	<br />
	
	<% if invitation_funds_usable? %>
		<p>
			<strong>You have accumulated <%= number_to_currency(current_user.invitation_fund) %> by inviting your friends to thorai </strong>
		</p>
			<%= check_box_tag 'use_invitation_fund' %> Use Invitation treasure
	<% end %>

	<% if !user_signed_in? %>
		<p>
			Already a thorai user? <%= link_to "Sign in", :id => "sign_in_for_checkout" %> <!--%= link_to "Sign in", new_user_session_path %-->
		</p>
		<strong><p>Personal Information</p></strong>
		<p>
			First Name <br />
				<%= text_field_tag :first_name %>
		</p>
		<p>Last Name<br />
			<%= text_field_tag :last_name %>
		</p>
		<p>Email<br />
			<%= text_field_tag :user_email %>
		</p>
		<p>Password<br />
			<%= password_field_tag :password %>
		</p>
		<p>Confirm<br />
			<%= password_field_tag :confirm %>
		</p>
	<% end %>

	<br /><br/>

	<h3>Billing Information</h3>
	
	<p>
		First Name<br />
		<%= f.text_field :card_first_name %>
	</p>
	<p>
		Last Name<br />
		<%= f.text_field :card_last_name %>
	</p>
	<p>
		Card Type<br />
		<%= f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]] %>
	</p>
	<p>
		Card Number<br />
		<%= f.text_field :card_number %>
	</p>
	<p>
		Security Code<br />
		<%= f.text_field :card_verification %>
	</p>
	<p>
		Expiration Date<br />
		<%= f.date_select :card_expires_on, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year + 10), :add_month_numbers => true %>
	<p>
		Billing Address<br />
		<%= text_field_tag :street_address %>
	</p>
	<p>
		City<br />
		<%= text_field_tag :city %>
	</p>
	<p>
		State<br />
		<%= select_tag :state, options_for_select(states) %>
	</p>
	<p>
		Zip Code<br />
		<%= text_field_tag :zip_code %>
	</p>

	
	<%= submit_tag "Complete Order" %>
	
<% end %>