<div>
	<div>
		<%= link_to 'Deal Management', deals_path %>
	</div>
	<div>
		<%= link_to 'Merchant Management', merchants_path %>
	</div>
	<div>
		<%= link_to 'Categories Management', categories_path %>
	</div>
	<div>
		<%= link_to 'Cities Management', cities_path %>
	</div>
	<div>
		<%= link_to 'Orders Management', purchest_orders_index_path %>
	</div>
</div>