<%= form_for @city do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :city_name %><br />
    <%= f.text_field :city_name %>
  </p>
  <p><%= f.submit %></p>
<% end %>
